<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/estilos/padrao.css" rel="stylesheet" />
    <link href="~/Content/estilos/sprites.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/helper/loading.js"></script>
</head>
<body>
    <header>
        <div class="content-wrapper">
            <h1>
                <img src="~/Content/estilos/svg/logo-d-talento.svg" />
            </h1>
        </div>
    </header>

    <div id="body">
        <div id="ajax-loading" style="display: none;">Carregando...</div>
        <div id="overlay" class="ui-widget-overlay" style="display: none;"></div>

        @RenderSection("featured", required: false)


        <section class="content-wrapper main-content clear-fix">
            <div id="mensagemDeSucesso">
                @TempData["MensagemDeSucesso"]
            </div>

            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left logo">
                <img src="~/Content/estilos/svg/logo-d-talento-tons-de-cinza.svg" />
            </div>
            <div class="float-right logo">
                <img src="~/Content/estilos/svg/logo-digithobrasil-tons-de-cinza.svg" />
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var urlRoot = "@Url.Content("~/")";
        $("#menu li a").prepend("<span class='icon-'></span>");

        $("h1 img").on("click", function () {
            window.location = urlRoot;
        });
    </script>
</body>
</html>
