<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/interface/css/reset.css">
    <link rel="stylesheet" href="~/interface/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='~/interface/text/css'>
</head>
<body>
    <header>
        
        <a href="@Url.Action("index", "Flamengo")">
            <span class="escudo">
                <img src="~/interface/img/logo-flamengo.png" />
            </span>
        </a>

        <span class="logo-app"><span class="icone-app"></span> O<strong>Dirigente</strong></span>
    </header>
    <section>
        @RenderBody()
        <div id="divDoacao" style="display: none">
            <span class="fechar" onclick="Fechar()"></span>
            <ul class="beneficios">
                <li>
                    <span class="icone-camisa"></span>
                    <span class="valor-doacao">+ R$ 300,00</span>
                    <span class="beneficio">Camiseta Personalizada</span>
                </li>
                <li>
                    <span class="icone-estadio"></span>
                    <span class="valor-doacao">+ R$ 1.000,00</span>
                    <span class="beneficio">Visita ao Estádio</span>
                </li>
                <li>
                    <span class="icone-treino"></span>
                    <span class="valor-doacao">+ R$ 3.000,00</span>
                    <span class="beneficio">Assistir Treino</span>
                </li>
            </ul>
            <input id="IdJogador" type="hidden" />
            <input id="Doacao" type="number" placeholder="Digite o valor">
            <input id="SalvarDoacao" onclick="SalvarDoacao();" value="Doar" type="submit">
        </div>
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    function AbriDoacao(idJogador) {
        $("#IdJogador").val(idJogador);
        $("#divDoacao").addClass("modal abrir-modal");
        $("#divDoacao").show();
    }

    function Fechar() {
        $("#divDoacao").removeClass("modal abrir-modal");
        $("#divDoacao").hide();
    }

    function SalvarDoacao() {
        var valorDaDoacao = parseFloat($("#Doacao").val());
        var data = { valorDaDoacao: valorDaDoacao, idJogador: $("#IdJogador").val() };
        $.ajax({
            type: "POST",
            url: '@Url.Action("Doar", "Flamengo")',
            data: data,
            success: function () {
                $("#divDoacao").hide();
            }
        });
    }


</script>
