@using RecrutaZero.WebApp._Base.Extensions
@model RecrutaZero.WebApp.ViewModels.ConsultaDeCandidatoVm

@{
    ViewBag.Title = "Candidatos";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Criar novo candidato", "Incluir", "Candidato", new { @class = "adicionar-novo", @title = "Criar novo candidato" })

@using (Ajax.BeginForm("Consultar", "Candidato", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "resultadosDaPesquisa" }, new { @class = "filtro-pesquisa" }))
{
    <p>
        <label>Nome</label>
        @Html.TextBoxFor(x => x.Nome)
    </p>
    <p>
        <label>Telefone</label>
        @Html.TextBoxFor(x => x.Telefone)
    </p>
    <p>
        <label>Ocupação</label>
        @Html.DropDownListFor(x => x.OcupacaoId, Model.Ocupacoes.ToSelectList(x => x.Descricao, x => x.Id, itemDefault: ItemDefault.ComTextoEValor("", "0")))
    </p>
}

<div id="resultadosDaPesquisa"></div>