@model ODirigente.ViewModels.JogadorPorPosicaoVm

    @foreach (var jogador in Model.Jogadores)
    {
        @Html.HiddenFor(model => jogador.Id)
        <div> Nome: @jogador.Id</div>
        <div> Nome: @jogador.Nome</div>

        <div> Altura: @jogador.Altura cm</div>
        <div> Nascimento: @jogador.DataDeNascimento</div>
        <input id="@jogador.Id" type="submit" value="@jogador.Likes" onclick="DaUmLike(@jogador.Id)" />
    }

    <script>
        function DaUmLike(id) {
            var data = { zagueiroId: id };

            $.ajax({
                type: "POST",
                url: '@Url.Action("LikeNaZagueirada")',
                data: data,
                success: function (response) { alert(response); }
            });
        }
    </script>
