@model ODirigente.ViewModels.JogadorPorPosicaoVm
<link rel="stylesheet" href="~/interface/css/jogadores.css">
<h1>Atacantes</h1>

@foreach (var jogador in Model.Jogadores)
{
    var id = string.Format("div{0}", jogador.Id);

    <div class="jogadores" id="@id">
        <a href="@Url.Action("JogadorPerfil", new { idDoJogador=jogador.Id })">
            <h2>@jogador.Apelido</h2>
            <span class="escolha">
                <small>Valor arrecadado</small>
                @String.Format("{0:C}", @jogador.ValorDoPasse)
            </span>
            <img src="~/Interface/img/@string.Format("{0}.png", jogador.Id)" />
        </a>
        <span class="doacao" onclick="AbriDoacao(@jogador.Id);">
            Fazer doação
        </span>
        <img src="~/Interface/img/@string.Format("{0}.png", jogador.Id)" />
        <div class="likes" onclick="DaUmLike(@jogador.Id)">
            <span class="likes__curtir">
                <span class="icone-curtir"></span>
                <span>Curtir</span>
                <strong name="@jogador.Id">@jogador.Likes</strong>
            </span>
        </div>
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.getJSON('@Url.Action("AtualizarDoacao", "Flamengo")', function (jogadores) {
                    $.each(jogadores.Jogadores, function (index, jogador) {
                        console.log(jogador.Id);
                    });
                });
            }, 4000);
        });

        function DaUmLike(id) {
            var data = { zagueiroId: id };
            $.ajax({
                type: "POST",
                url: '@Url.Action("LikeNaZagueirada")',
                data: data,
                success: function (response) {
                    $("[name='" + id + "']").text(response);
                }
            });
        }
    </script>

}
