@model ODirigente.ViewModels.JogadorPorPosicaoVm
<link rel="stylesheet" href="~/interface/css/jogadores.css">
<h1>Atacantes</h1>

@foreach (var jogador in Model.Jogadores)
{
    @Html.HiddenFor(model => jogador.Id)
    <a href="#" class="jogadores">
        <h2>@jogador.Apelido</h2>
        <span class="escolha">
            <small>Valor arrecadado</small>
            @jogador.ValorDoPasse
        </span>
        <div class="likes" onclick="DaUmLike(@jogador.Id)">
            <span class="likes__curtir">
                <span class="icone-curtir"></span>
                <span>Curtir</span>
                <strong class="jogador_likes">@jogador.Likes</strong>
            </span>
        </div>
        <span class="doacao">
            Fazer doação
        </span>
        <img src="~/Interface/img/pato.png" />
    </a>
}

<button onclick="AtualizarLikes(1)">Atualizar like 1</button>

<script>
    function DaUmLike(id) {
        var data = { zagueiroId: id };

        $.ajax({
            type: "POST",
            url: '@Url.Action("LikeNaZagueirada")',
            data: data,
            success: function (response) { alert(response); }
        });
    }


    function AtualizarLikes(id) {
        alert("chamou o atualizador");
        $.ajax({
            type: "POST",
            url: '@Url.Action("AtualizarLikes")',
            data: data,
            success: function(response) {
                alert("foi?");
                
                $("#jogador_Id .jogador_likes").val(response) ;
                alert("foi!!!!");
                
                alert(response);
            }
        });
    }

</script>
