@model ODirigente.ViewModels.JogadorPerfilVm
<link rel="stylesheet" href="~/interface/css/jogadores.css">
<h1>Atacantes</h1>

@foreach (var jogador in Model.Jogadores)
{
    @Html.HiddenFor(model => jogador.Id)
    <div class="jogadores">
        <a href="@Url.Action("JogadorPorId", new { jogador.id })">
            <h2>@jogador.Apelido</h2>
        <span class="escolha">
            <small>Valor arrecadado</small>
            @jogador.ValorDoPasse
        </span>
            <span class="doacao">
                Fazer doação
            </span>
            <img src="~/Interface/img/pato.png" />
        </a>
        <div class="likes" onclick="DaUmLike(@jogador.Id)">
            <span class="likes__curtir">
                <span class="icone-curtir"></span>
                <span>Curtir</span>
                <strong>@jogador.Likes</strong>
            </span>
        </div>
    </div>
}

<script>
    function DaUmLike(id) {
        var data = { zagueiroId: id };

        $.ajax({
            type: "POST",
            url: '@Url.Action("LikeNaZagueirada")',
            data: data,
            success: function (response) { alert(response); }
        });
    }

    setInterval(function () {
        console.log("Teste");
    }, 1000);
</script>
