@model ODirigente.ViewModels.JogadorPorPosicaoVm
<link rel="stylesheet" href="~/interface/css/jogadores.css">
<h1>Atacantes</h1>

@foreach (var jogador in Model.Jogadores)
{
    @Html.HiddenFor(model => jogador.Id)
    <a href="#" class="jogadores">
        <h2>@jogador.Apelido</h2>
        <span class="escolha">
            <small>Valor arrecadado</small>
            @jogador.ValorDoPasse
        </span>
        <div class="likes" onclick="DaUmLike(@jogador.Id)">
            <span class="likes__curtir">
                <span class="icone-curtir"></span>
                <span>Curtir</span>
                <strong>@jogador.Likes</strong>
            </span>
        </div>
        <span class="doacao">
            Fazer doação
        </span>
        <img src="~/Interface/img/pato.png" />
    </a>
}

<script>
    function DaUmLike(id) {
        var data = { zagueiroId: id };

        $.ajax({
            type: "POST",
            url: '@Url.Action("LikeNaZagueirada")',
            data: data,
            success: function (response) { alert(response); }
        });
    }
</script>
