@model ODirigente.ViewModels.JogadorPerfilVm
@{
    var jogador = @Model.Jogador;
}

<div href="jogadores.html" class="perfil">
    <img src="~/Interface/img/@string.Format("{0}.png", jogador.Id)"/>
    <h2>@jogador.Apelido</h2>
    <span class="escolha">
            <small>Valor arrecadado</small>
            <span>@String.Format("{0:C}", jogador.TotalDeDoacoes)</span>
            <span class="barra-de-progresso">
                <span class="barra-de-progresso__porcentagem"></span>
            </span>
            <small>Precisamos de @String.Format("{0:C}", @jogador.ValorDoPasse)</small>
        </span>
    <div class="likes">
        <span class="likes__curtir">
                <span class="icone-curtir"></span>
                <span>Curtir</span>
                <strong>1.5k</strong>
            </span>
    </div>
    <span class="doacao" onclick="AbriDoacao(@jogador.Id);">
            Fazer doação
        </span>
</div>

<ul class="ficha">
    <li>
        <span>Posição</span>
        <span>@jogador.Posicao</span>
    </li>
    <li>
        <span>Gols</span>
        <span>@jogador.NumeroDeGols</span>
    </li>
    <li>
        <span>Desarmes</span>
        <span>@jogador.Desarmes</span>
    </li>
    <li>
        <span>Assistências</span>
        <span>@jogador.Assistencias</span>
    </li>
    <li>
        @{ var pe = jogador.EhCanhoto ? "Canhoto" : "Destro"; }
        <span>Pé</span>
        <span>@pe</span>
    </li>
</ul>

<ul class="biografia">
    Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.

</ul>

<ul class="ficha">
    <li>
        <span>Campeonato Brasileiro</span>
        <span>2</span>
    </li>
    <li>
        <span>UEFA</span>
        <span>1</span>
    </li>
</ul>

@section scripts {
    <script>
        $(document).ready(function () {
            var percentual = @jogador.PorcentagemBarraDeProgresso + "%";
            $(".barra-de-progresso__porcentagem").width(percentual);
        });
    </script>
}