@model ODirigente.ViewModels.ZagueiroViewModel

@foreach (var zagueiro in Model.Zagueiros)
{
    @Html.HiddenFor(model => zagueiro.Id)
    <div> Nome: @zagueiro.Id</div>
    <div> Nome: @zagueiro.Nome</div>

    <div> Altura: @zagueiro.Altura cm</div>
    <div> Nascimento: @zagueiro.DataDeNascimento</div>
    <input id="@zagueiro.Id" type="submit" value="@zagueiro.Likes" onclick="DaUmLike(@zagueiro.Id)" />
}

<script>

    function DaUmLike(id) {
        var data = { zagueiroId: id };

        $.ajax({
            type: "POST",
            url: '@Url.Action("LikeNaZagueirada")',
            data: data,
            success: function (response) { alert(response); }
        });

    }

</script>
