@using RecrutaZero.Dominio
@model RecrutaZero.Dominio.CandidatoParaSelecao

@{
    Layout = null;
}


<h2>@Model.Nome</h2>

@foreach (var aptidao in Model.Aptidoes)
{
    var data = aptidao.Data == null ? "" : string.Format("{0:yyyy-MM-dd}", aptidao.Data.Value);
    var estaApto = aptidao.Status == StatusDoPassoParaSelecao.Apto ? "checked='checked'" : "";

    <div class="info-candidato">
        <h3>@aptidao.Passo.Descricao</h3>

        <div class="accordion-conteudo" style="display: none;">
            <input type="hidden" id="candidatoParaSelecaoId" value="@Model.Id" />
            <input type="hidden" id="passoId" value="@aptidao.Passo.Id" />

            <div class="mensagemDeSucessoModal" style="display: none;">Aptidão salva com sucesso</div>

            <span><textarea id="observacao">@aptidao.Observacao</textarea></span>
            <span><input id="data" type="date" value="@data" /></span>
            <span>
                <label for="apto">Apto</label>
                <input id="apto" type="checkbox" @estaApto />
            </span>

            <div class="validation-summary-errors" style="display: none;">
                <ul>
                    <li>Data deve ser informada</li>
                </ul>
            </div>

            <button class="avaliar-aptidao" type="button" title="Salvar aptidão">Salvar aptidão</button>
        </div>
    </div>
}