@using RecrutaZero.WebApp._Base.Extensions
@model IEnumerable<RecrutaZero.Dominio.ProcessoSeletivo>

@{
    Layout = null;
}

<div class="resultados" title="Clique para visualizar os detalhes do processo seletivo.">
    @foreach (var processoSeletivo in Model)
    {
        var quantidade = processoSeletivo.Candidatos == null ? 0 : processoSeletivo.Candidatos.Count();

        <div class="resultado-itens" status="@processoSeletivo.Status.ToDescription()" data-id="@processoSeletivo.Id">
            <h3>@processoSeletivo.Ocupacao.Descricao</h3>
            <p class="quantidade">@quantidade</p>
            <p class="descricao">@processoSeletivo.Status.ToDescription()</p>
        </div>
    }
</div>